<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524581950994-imitdtdb31j09p3jmivp54rmrdors6u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524581950994-imitdtdb31j09p3jmivp54rmrdors6u9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>524581950994-0fsi8trn71qdh1gh72atu5suoo5q1iak.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCl18mpUxEwKRao7gxRkPeHezDw_MjmCPA</string>
	<key>GCM_SENDER_ID</key>
	<string>524581950994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ibuildDash</string>
	<key>PROJECT_ID</key>
	<string>ibuild-construir-e-reformar</string>
	<key>STORAGE_BUCKET</key>
	<string>ibuild-construir-e-reformar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524581950994:ios:62ced5d014fee2b0d12acb</string>
	<key>DATABASE_URL</key>
	<string>https://ibuild-construir-e-reformar.firebaseio.com</string>
</dict>
</plist>